numpy
pymilvus[milvus_lite]
pypdf
sentence-transformers
pyyaml
requests
beautifulsoup4
docling==2.111.0
pillow
onnxruntime
rank-bm25
transformers
rdkit
matplotlib
torch
accelerate
bitsandbytes
psutil
